aniso8601==1.1.0
click==6.6
Flask==0.11.1
Flask-RESTful==0.3.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
python-dateutil==2.6.1
pytz==2016.7
six==1.10.0
Werkzeug==0.11.15
gunicorn==19.6.0
aspect_based_sentiment_analysis==2.0.2
googletrans==3.1.0a0
spacy==2.2.4